<div class="quiz-card-container">
  <h3>{{ index + 1 }}. {{ quiz.question }}</h3>
  <img
    class="question-img-style"
    *ngIf="quiz.questionImg"
    [src]="quiz.questionImg"
    alt=""
  />
  <!-- render options: -->
  <div class="quiz-options">
    <!--  -->
    <ol type="A">
      <div class="quizzes-wrapper" *ngFor="let option of quiz.options">
        <li
          class="quiz-option"
          [class.selected]="option.isSelected"
          [class.correct]="option.isCorrect && isSend"
          [class.wrong]="!option.isCorrect && isSend"
          (click)="onSelect(option)"
        >
          <span class="list-option-span">
            {{ option.label }}
          </span>
          <img
            class="ans-img-style"
            *ngIf="option.ansImg"
            [src]="option.ansImg"
            alt=""
          />
        </li>
      </div>
    </ol>
  </div>
  <div class="send-btn-wrapper">
    <button (click)="onSend(quiz.options)" class="send-btn">Send</button>
  </div>
</div>
