<h1>Exerseaza pentru licentză</h1>

<!-- render here all of the quizzes: -->
<h3 class="select-heading">Selecteaza tipul de grile:</h3>

<div class="quizzes-menu-buttons">
  <button (click)="onSelectQuiz('all_quizzes')" class="all-quizzes-btn">
    All quizzes
  </button>
  <button (click)="onSelectQuiz('sisteme_operare')" class="menu-btn">
    Sisteme de operare
  </button>
  <button (click)="onSelectQuiz('retele')" class="menu-btn">
    Retele de calculatoare
  </button>
  <button (click)="onSelectQuiz('securitate')" class="menu-btn">
    Securitate
  </button>
  <button (click)="onSelectQuiz('arhitectura')" class="menu-btn">
    Arhitectura
  </button>
  <button (click)="onSelectQuiz('programare_c')" class="menu-btn">
    Programare C
  </button>
  <button (click)="onSelectQuiz('OOP')" class="menu-btn">OOP</button>
</div>

<app-quiz-cards [quizzes]="quizzesService.quizzes"></app-quiz-cards>
