<h1>Exerseaza pentru licentă</h1>

<!-- render here all of the quizzes: -->
<h3 class="select-heading">Selecteaza tipul de grile:</h3>

<div class="quizzes-menu-buttons">
  <button (click)="onSelectQuiz('sisteme_operare')" class="menu-btn">
    Sisteme de operare
  </button>
  <button (click)="onSelectQuiz('retele')" class="menu-btn">
    Retele de calculatoare
  </button>
  <button (click)="onSelectQuiz('securitate')" class="menu-btn">
    Securitate
  </button>
</div>

<app-quiz-cards [quizzes]="quizzesService.quizzes"></app-quiz-cards>
